@font-face {
    font-family: "WorkSans-Regular";
    src: url("./fonts/WorkSans-Regular.ttf") format("truetype");
}

.btn.btn-primary {
    color: white;
    background-color: var(--primary-500);
}
.btn.btn-primary:hover {
    background-color: var(--primary-600);
}

.loading {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

main {
    font-family: "WorkSans-Regular";
}

.game-center {
    padding: 4rem 0;
    max-width: 310px;
}

h1.title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.chances {
    width: 100%;
    margin: 0 auto;
}

.single-chance {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.125rem;
    margin: 0.25rem 0;
}
.single-chance article {
    display: grid;
    place-items: center;
    font-size: 2.25rem;
    text-transform: uppercase;
    width: calc(100% - 4px);
    height: 3.25rem;
    border: 2px solid var(--light-700);
}
.single-chance article.truePlace {
    color: white;
    background-color: var(--success-500);
}
.single-chance article.falsePlace {
    color: black;
    background-color: var(--warning-500);
}
.single-chance article.notAvailable {
    color: white;
    background-color: var(--secondary-500);
}

form {
    margin: 2rem 0;
}
form input {
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid var(--secondary-500);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    width: calc(100% - 36px);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
form input:focus {
    outline: none;
}
form button {
    display: flex;
    justify-self: center;
}

.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: grid;
    place-items: center;
    transform: translateX(100%);
    transition: all 0.5s;
}
.modal.show-modal {
    transform: translateX(0);
}
.modal-center {
    text-align: center;
    width: calc(310px - 3rem);
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
}
.modal-center p {
    font-size: 1.15rem;
}
.modal-center span{
    color : var(--primary-500);
}
.modal-center ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-self: center;
    margin-top: 1.5rem;
}
.modal-center ul li svg {
    color: var(--warning-500);
    transform: scale(2.5);
}

.modal-center ul.animated li:nth-child(1) svg {
    animation: bounce 0.75s linear 1s 1;
}
.modal-center ul.animated li:nth-child(2) svg {
    animation: bounce 0.75s linear 1.5s 1;
}
.modal-center ul.animated li:nth-child(3) svg {
    animation: bounce 0.75s linear 2s 1;
}

@keyframes bounce {
    0% {
        transform: scale(24);
    }
    50% {
        transform: scale(6);
    }
    100% {
        transform: scale(2.5);
    }
}
